// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #000000;
$accent: #9945FF;
$white: #fff;
$grey: #19161C;
$accent2: #14F195;
$muted: #848895;

// Media
$tablet: 959px;
$mobile: 400px;